@font-face {
    font-family: 'RobotoRegular'; 
    src: url('font/RobotoRegular/RobotoRegular.eot');
    src: url('font/RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
         url('font/RobotoRegular/RobotoRegular.woff2') format('woff2'),
         url('font/RobotoRegular/RobotoRegular.woff') format('woff'),
         url('font/RobotoRegular/RobotoRegular.ttf') format('truetype'),
         url('font/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedRegular'; 
    src: url('font/RobotoCondensedRegular/RobotoCondensedRegular.eot');
    src: url('font/RobotoCondensedRegular/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('font/RobotoCondensedRegular/RobotoCondensedRegular.woff2') format('woff2'),
         url('font/RobotoCondensedRegular/RobotoCondensedRegular.woff') format('woff'),
         url('font/RobotoCondensedRegular/RobotoCondensedRegular.ttf') format('truetype'),
         url('font/RobotoCondensedRegular/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}

@font-face {
    font-family: 'RobotoCondensedBold'; 
    src: url('font/RobotoCondensedBold/RobotoCondensedBold.eot');
    src: url('font/RobotoCondensedBold/RobotoCondensedBold.eot') format('embedded-opentype'),
         url('font/RobotoCondensedBold/RobotoCondensedBold.woff2') format('woff2'),
         url('font/RobotoCondensedBold/RobotoCondensedBold.woff') format('woff'),
         url('font/RobotoCondensedBold/RobotoCondensedBold.ttf') format('truetype'),
         url('font/RobotoCondensedBold/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}

@font-face {
    font-family: 'MyriadProRegular'; 
    src: url('font/MyriadProRegular/MyriadProRegular.eot');
    src: url('font/MyriadProRegular/MyriadProRegular.eot') format('embedded-opentype'),
         url('font/MyriadProRegular/MyriadProRegular.woff2') format('woff2'),
         url('font/MyriadProRegular/MyriadProRegular.woff') format('woff'),
         url('font/MyriadProRegular/MyriadProRegular.ttf') format('truetype'),
         url('font/MyriadProRegular/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

@font-face {
    font-family: 'UTMHelvetIns'; 
    src: url('font/UTMHelvetIns/UTMHelvetIns.eot');
    src: url('font/UTMHelvetIns/UTMHelvetIns.eot') format('embedded-opentype'),
         url('font/UTMHelvetIns/UTMHelvetIns.woff2') format('woff2'),
         url('font/UTMHelvetIns/UTMHelvetIns.woff') format('woff'),
         url('font/UTMHelvetIns/UTMHelvetIns.ttf') format('truetype'),
         url('font/UTMHelvetIns/UTMHelvetIns.svg#MyriadProRegular') format('svg');
}